.mw-whoisactive {
	&-span {
		display: inline-block;
		padding: 0 0.5em !important;
		border: 1px solid #ddd;
		margin: 0 0.25em;
		white-space: nowrap;
		border-radius: 0.5em;
		font-size: 0.8125em;

		.mw-footer & {
			margin-bottom: 0.25em !important;

			.ve-activated & {
				display: none;
			}
		}
	}

	&-ThisWeek {
		border-color: #00af89;
		color: #00af89 !important;
	}

	&-ThisMonth {
		border-color: #36c;
		color: #36c !important;
	}

	&-ThisYear {
		border-color: #a60;
		color: #a60 !important;
	}

	&-OverAYear {
		border-color: #b32424;
		color: #b32424 !important;
	}

	&-icon {
		margin: 0;

		&::before {
			display: inline-block;
			width: 15px;
			height: 15px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 15px;
			content: '';
			vertical-align: middle;
		}

		&-ThisWeek::before {
			background-image: data-url('./images/userContributions-green.svg');
		}

		&-ThisMonth::before {
			background-image: data-url('./images/userContributions-blue.svg');
		}

		&-ThisYear::before {
			background-image: data-url('./images/userContributions-brown.svg');
		}

		&-OverAYear::before {
			background-image: data-url('./images/userContributions-red.svg');
		}
	}

	&-text {
		margin-left: 5px;
		vertical-align: middle;

		.skin-citizen & {
			font-size: 1.125em;
		}
	}

	&-notext {
		font-size: 0 !important;
		margin-left: 0;
		clip-path: inset(50%);
	}
}
