@import (reference) '../mixins.less';
@group: user;
.group(@group);

.anonymous-show,
.user-hide {
	display: none !important;
}

/* 仅登录用户可见“协作”菜单 */
#p-collaboration {
	display: block !important;
}

/* 仅登录用户可见“特殊页面”菜单 */
li#t-specialpages {
	display: list-item !important;
}

.mw-noarticletext-module.user-show {
	display: flex !important;
	flex: 1 1 20em;
	flex-direction: column;
	align-items: center;
	padding: 1em;
}

body:not(.page-Qiuwen_首页) {
	#catlinks:not(.catlinks-allhidden) {
		display: block !important;

		.skin-citizen & {
			display: flex !important;
		}
	}
}
