@import '../variables.less';

/* 此处的CSS只会影响使用Citizen皮肤的用户 */

/* 变量 */
:root {
	--fonts-sans: @sans-serif-zh-hans, sans-serif, @emoji-font;
	--fonts-serif: @serif-zh-hans, serif, @emoji-font;
	--fonts-monospace: @monospace, monospace, @emoji-font;

	&:lang(zh-hant) {
		--fonts-sans: @sans-serif-zh-hant, sans-serif, @emoji-font;
		--fonts-serif: @serif-zh-hant, serif, @emoji-font;
	}
}

/* 页面内容宽度 */
@media (min-width: 1440px) {
	.ns-0 .mw-body-content .mw-parser-output {
		& > *:not(figure, .mw-halign-left) {
			margin-right: 0;
		}

		& > div.tleft,
		& > div.floatleft,
		& > table.floatleft,
		& > div.mw-halign-left,
		& > table.mw-halign-left {
			margin-right: 1.25rem !important;
		}

		& > table:not(.metadata, .infobox, .sidebar, .vertical-navbox) {
			margin: 0 auto !important;
		}
	}
}

/* 子标题 */
#siteSub {
	display: none;
}

/* [[Special:小工具]]标题 */
.mw-special-Gadgets {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		display: block !important;
	}
}

/* [[Special:最近更改]]标题 */
.mw-changeslist h4 {
	display: block !important;
}

/* 可视化编辑器界面，隐藏标题 */
.ve-activated {
	/* 隐藏标题 */
	h1#firstHeading {
		margin-top: calc(2 * var(--space-md));

		@media screen and (max-width: 720px) {
			margin-top: calc(3 * var(--space-md));
		}
	}

	.citizen-body-header--sticky .mw-body-header::before {
		display: none;
	}

	/* 编辑区域外侧加框 */
	.ve-ui-surface {
		border: 1px dotted var(--border-color-input);
		padding: var(--space-md);
	}

	/* 隐藏#contentSub */
	#contentSub,
	#contentSub2 {
		display: none;
	}
}

/* 目录 (TOC) */
@media screen and (max-width: 720px) {
	.toc,
	#toc {
		clear: both;
	}
}

/* 变体菜单 */
@media screen and (max-width: 720px) {
	#citizen-languages__card {
		right: calc(var(--space-xxl) * 2);
	}
}
