.gadget-scroll_up_button {
	position: fixed;
	right: 8px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	opacity: 0.7;
	user-select: none;

	.client-darkmode &,
	.skin-theme-clientpref-night & {
		transition: none 0s ease 0s;
	}

	&-down {
		content: data-uri('./images/scroll-button-down.svg');
		bottom: 45px;
	}

	&-up {
		content: data-uri('./images/scroll-button-up.svg');
		bottom: 85px;
	}
}
