.addIcon(@url) {
	a::before {
		content: data-uri(@url);
		background-image: linear-gradient(transparent, transparent);
		display: inline-block;
		width: 20px;
		height: 20px;
		vertical-align: middle;
	}
}

#n-teahouse {
	.addIcon('../images/Teahouse_icon.svg');
}

#n-noticeboard {
	.addIcon('../images/Notice_board_icon.svg');
}

#n-wanshan {
	.addIcon('../images/Wanshan_icon.svg');
}

#n-policy {
	.addIcon('../images/Policy_icon.svg');
}

#n-helpindex {
	.addIcon('../images/Help_index_icon.svg');
}

#n-conversion {
	.addIcon('../images/Chinese_conversion.svg');
}
