/* [[MediaWiki:Gadgets-definition]] */
.rootpage-MediaWiki_Gadgets-definition {
	.mw-parser-output {
		li {
			font-family: 'Consolas', 'JetBrains Mono', 'Source Code Pro', 'Menlo', 'SFMono-Regular', 'Roboto Mono',
				'Monaco', 'Liberation Mono', 'Courier New', 'Courier', monospace, 'Apple Color Emoji', 'Segoe UI Emoji',
				'Segoe UI Symbol';
			font-size: 1.2em;
			overflow-wrap: break-word;
		}
	}
}
