/* 重置<html>默认样式 */
html {
	tab-size: 4;
}

/* 重置<cite>默认样式 */
cite {
	/* 解决<cite>定位内文字显示为斜体的问题 */
	font-style: normal;
}

/* 重置<dfn>默认样式 */
dfn {
	font-style: inherit;
}

/* 重置<q>默认样式 */
q {
	/* 双引号：“”；单引号：‘’ */
	quotes: '“' '”' '‘' '’';

	&:lang(zh-hant) {
		/* 外引号：「」；内引号：『』 */
		quotes: '「' '」' '『' '』';
	}

	&:lang(en) {
		/* 外引号：""；内引号：'' */
		quotes: '"' '"' "'" "'";
	}
}

/* 重置<big><small>字号 */
big {
	font-size: 1.2em;
}

small {
	font-size: 0.9em;
}

/* 重置Ruby相关标签字号 */
rt big {
	font-size: 0.9em;
}

/* 重置<hr>的边界 */
hr {
	margin: 0.5em 0;
}

/* 字体 */
body,
input {
	font-family: -apple-system, BlinkMacSystemFont, 'MiSans', '小米兰亭 Pro VF', 'OPPO Sans', 'HarmonyOS Sans',
		'HONOR Sans', 'Source Sans 3', 'Source Sans Pro', 'Source Han Sans SC', 'Helvetica', 'Roboto',
		'SFProDisplay-Regular', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

	&:lang(zh-hant) {
		font-family: -apple-system, BlinkMacSystemFont, 'MiSans', '小米兰亭 Pro VF', 'OPPO Sans', 'HarmonyOS Sans',
			'HONOR Sans', 'Source Sans 3', 'Source Sans Pro', 'Source Han Sans TC', 'Helvetica', 'Roboto',
			'SFProDisplay-Regular', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	}
}

.mw-body {
	dt,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Source Serif', 'Source Han Serif SC', 'Linux Libertine', 'Georgia', 'Times New Roman', 'Times',
			'STSong SC', 'SimSun', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

		&:lang(zh-hant) {
			font-family: 'Source Serif', 'Source Han Serif TC', 'Linux Libertine', 'Georgia', 'Times New Roman', 'Times',
				'MingLiU', 'SimSun', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
		}
	}
}

.content code,
.content kbd,
.content pre,
.content samp,
.screenplay,
.ve-ui-mwWikitextSurface .ve-ce-attachedRootNode,
div.CodeMirror,
.mw-editfont-monospace,
code,
kbd,
pre,
samp,
tt {
	font-family: 'Consolas', 'JetBrains Mono', 'Source Code Pro', 'Menlo', 'SFMono-Regular', 'Roboto Mono', 'Monaco',
		'Liberation Mono', 'Courier New', 'Courier', monospace, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
