# https://github.com/wikimedia/mediawiki/blob/master/resources/src/startup/startup.js#L15
# chrome 63
# edge 79
# opera 50
# firefox 58
# safari 11.1
# ios 11
# android 5.0

Chrome >= 63
Edge >= 79
Opera >= 50
Firefox >= 58
Safari >= 11.1
iOS >= 11
Android >= 5
