@import '../variables.less';

em,
i {
	&:lang(zh) {
		font-style: normal;
	}

	&:lang(zh-hans) {
		font-family: @cursive-zh-hans, @serif-zh-hant, cursive, serif, @emoji-font;
	}

	&:lang(zh-hant) {
		font-family: @cursive-zh-hant, @serif-zh-hant, cursive, serif, @emoji-font;
	}
}
