.gadget-notify_conversion {
	a {
		display: inline-block;
		margin: 0.25em;
		white-space: nowrap;
	}

	&__link {
		&,
		&:visited,
		&:hover {
			color: #f4ff7f !important;
		}
	}

	&__info {
		display: block;
	}
}
