@import '../variables.less';

#ding {
	button {
		box-sizing: border-box;
		padding: 0 0.7em;
		border: 0.2em solid @const-color-white;
		border-radius: 9em;
		margin: 0 0.2em;
		background: 0 0;
		color: inherit;
		font-weight: inherit;

		&:active {
			background: rgba(255, 255, 255, 0.2);
		}
	}
}

.ding {
	&_inner {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9999;
		margin: 0 auto;
		padding: 0.75em;
		width: 75%;
		height: auto;
		min-height: 3.25%;
		border-radius: 0.75em;
		background-color: #36c;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		color: @const-color-white;
		text-align: center;
		font-weight: bold;
		font-size: 92.5%;
		line-height: 1.25em;
		opacity: 1;
		transition: all 0.25s;
		transform: translateY(125%);
		word-break: break-word;

		/* Avoid overlapping the blue bar with the limited width control */
		@media (min-width: 1000px) {
			width: 800px !important;
			margin: auto !important;
		}
	}

	/* Font and background colors */
	&_info,
	&_success,
	&_warning,
	&_error {
		color: @const-color-white;
	}

	&_info {
		background-color: @color--info;
	}

	&_success {
		background-color: @color--success;
	}

	&_warning {
		background-color: @color--warning;
	}

	&_error {
		background-color: @color--error;
	}

	&_inner a {
		&,
		&:visited,
		&:hover,
		&:visited:hover {
			color: #f4ff7f !important;
		}
	}
}
