.gadget-whoisactive {
	&__span {
		display: inline-block;
		padding: 0 0.5em !important;
		border: 1px solid #ddd;
		margin: 0 0.25em;
		white-space: nowrap;
		border-radius: 0.25em;
		font-size: 0.8125em;

		.mw-footer & {
			margin-bottom: 0.25em !important;

			.ve-activated & {
				display: none;
			}
		}
	}

	&__ThisWeek {
		border-color: #181;
		color: #181 !important;
	}

	&__ThisMonth {
		border-color: #36c;
		color: #36c !important;
	}

	&__ThisYear {
		border-color: #a60;
		color: #a60 !important;
	}

	&__OverAYear {
		border-color: #b32424;
		color: #b32424 !important;
	}

	&__icon {
		margin: 0;

		&::before {
			display: inline-block;
			width: 15px;
			height: 15px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 15px;
			content: '';
			vertical-align: middle;
		}

		&__ThisWeek::before {
			background-image: data-uri('./images/userContributions-green.svg');
		}

		&__ThisMonth::before {
			background-image: data-uri('./images/userContributions-blue.svg');
		}

		&__ThisYear::before {
			background-image: data-uri('./images/userContributions-brown.svg');
		}

		&__OverAYear::before {
			background-image: data-uri('./images/userContributions-red.svg');
		}
	}

	&__text {
		margin-left: 5px;
		vertical-align: middle;

		.skin-citizen & {
			font-size: 1.125em;
		}
	}

	&__notext {
		font-size: 0 !important;
		margin-left: 0;
		clip-path: inset(50%);
	}
}
