#ding {
	button {
		box-sizing: border-box;
		padding: 0 0.7em;
		border: 0.2em solid #fff;
		border-radius: 9em;
		margin: 0 0.2em;
		background: 0 0;
		color: inherit;
		font-weight: inherit;

		&:active {
			background: rgba(255, 255, 255, 0.2);
		}
	}
}

.ding {
	&_inner {
		position: fixed;
		z-index: 9999;
		right: 0;
		bottom: 0;
		left: 0;
		width: 75%;
		height: auto;
		min-height: 3.75%;
		padding: 0.75em 1.5em;
		border-radius: 1em 1em 0 0;
		margin: 0 auto;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		font-size: 92.5%;
		font-weight: bold;
		line-height: 1.25em;
		opacity: 1;
		text-align: center;
		-webkit-transform: translateY(125%);
		-moz-transform: translateY(125%);
		-ms-transform: translateY(125%);
		-o-transform: translateY(125%);
		transform: translateY(125%);
		transition: all 0.2s;
		word-break: break-word;

		/* Avoid overlapping the blue bar with the limited width control */
		@media (min-width: 1000px) {
			width: 800px !important;
			margin: auto !important;
		}
	}

	/* Font and background colors */
	&_default {
		background-color: #eaecf0;
		color: #000;
	}

	&_info,
	&_success,
	&_warning {
		color: #fff;
	}

	&_info {
		background-color: #36c;
	}

	&_success {
		background-color: #00af89;
	}

	&_warning {
		background-color: #b32424;
	}

	&_inner a {
		&,
		&:visited,
		&:hover,
		&:visited:hover {
			color: #f4ff7f !important;
		}
	}
}
