.collapsetoggle {
	font-weight: normal;
	user-select: none;

	.mw-content-ltr & {
		margin-right: 0;
		margin-left: 0.5em;
		float: right;
	}

	.mw-content-rtl & {
		margin-right: 0.5em;
		margin-left: 0;
		float: left;
	}
}
