@import (reference) '../variables.less';

@color--primary: @const-color-darkgreen;

/* Variables for root */
:root {
	--mainpage--color: @color--primary;
	--mainpage-background-color: fade(@color--primary, 25%); // @color--primary with 25% opacity
	--mainpage-background-color--darkest: fade(@color--primary, 75%); // @color--primary with 75% opacity
	--mainpage-background-color--darker: fade(@color--primary, 50%); // @color--primary with 50% opacity
	--mainpage-background-color--light: fade(@color--primary, 12.5%); // @color--primary with 12.5% opacity
	--mainpage-background-color--lighter: fade(@color--primary, 6.25%); // @color--primary with 6.25% opacity
}
