@import (reference) '../variables.less';

@color--primary: @const-color-darkgreen;

/* Variables for root */
:root {
	--color--primary: @color--primary;
	--background-color-primary: fade(@color--primary, 25%); // @color--primary with 25% opacity
	--background-color-primary--darkest: fade(@color--primary, 75%); // @color--primary with 75% opacity
	--background-color-primary--darker: fade(@color--primary, 50%); // @color--primary with 50% opacity
	--background-color-primary--light: fade(@color--primary, 12.5%); // @color--primary with 12.5% opacity
	--background-color-primary--lighter: fade(@color--primary, 6.25%); // @color--primary with 6.25% opacity
	--background-color-primary--lightest: fade(@color--primary, 1.25%); // @color--primary with 1.25% opacity
}
