.mw-geolocation {
	display: inline-block;
	margin: 0 0.25em !important;
	padding: 0 0.5em !important;
	border: 1px solid #ddd;
	white-space: nowrap;
	border-radius: 0.25em;
	font-size: 0.8125em;

	.mw-footer & {
		margin-bottom: 0.25em !important;

		.ve-activated & {
			display: none;
		}
	}

	&-blue {
		border-color: #36c;
		color: #36c !important;
	}

	&-green {
		border-color: #181;
		color: #181 !important;
	}

	&-orange {
		border-color: #a60;
		color: #a60 !important;
	}

	&-icon {
		margin: 0;

		&::before {
			display: inline-block;
			width: 15px;
			height: 15px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 15px;
			content: '';
			vertical-align: middle;
		}

		&-globe::before {
			background-image: data-uri('./images/globe.svg');
		}

		&-helpNotice::before {
			background-image: data-uri('./images/helpNotice.svg');
		}

		&-settings::before {
			background-image: data-uri('./images/settings.svg');
		}

		&-userAvatar::before {
			background-image: data-uri('./images/userAvatar.svg');
		}
	}

	&-text {
		margin-left: 5px;
		vertical-align: middle;

		.skin-citizen & {
			font-size: 1.125em;
		}
	}
}
