@import '../variables.less';

em,
i {
	&:lang(zh) {
		font-style: normal;
	}

	&:lang(zh-hans) {
		font-family: @fangsong, @serif-hans, fangsong, serif, @emoji-font;
	}

	&:lang(zh-hant) {
		font-family: @fangsong, @serif-hant, fangsong, serif, @emoji-font;
	}
}
