.client-js {
	.Wikiplus-InterBox {
		max-width: 90%;
		max-width: calc(100% - 2em);
	}

	.Wikiplus-Symbol-Btn {
		vertical-align: bottom !important;
	}

	.mw-editsection-visualeditor {
		/* see <https://github.com/Wikiplus/Wikiplus/issues/65> */
		display: none;
	}
}
