.Wikiplus-InterBox {
	max-width: 90vw;
}

body.skin-write li#Wikiplus-Edit-TopBtn {
	display: inline-block !important;

	a {
		padding: 0 1em 0 0;
		display: inline-block;
		width: auto;
	}
}

.Wikiplus-Symbol-Btn {
	vertical-align: bottom !important;
}
