@import '../variables.less';

.consent-notice {
	position: fixed;
	z-index: 9999;
	bottom: 1em;
	left: auto;
	max-width: 92.5%;
	padding: 0.75em 1.5em;
	border: solid 1px #cdcbc8;
	border-radius: 8px;
	margin: 0.5em 0.75em;
	background-color: @const-color-white;
	color: #202122;
	font-size: 0.925em;
	line-height: 1.35;
	opacity: 1;
	pointer-events: auto;

	.mw-ui-button {
		display: block;
		width: 100%;
		padding: 0.5em 0;
		border-color: @color-primary;
		border-radius: 4px;
		margin: 0 auto 0.75em;
		background-color: @color-primary;
		color: @const-color-white;
		line-height: 1;
		text-align: center;
	}

	@media screen and (min-width: 768px) {
		width: 20em;
	}
}
