/**
 * [[MediaWiki:Blockedtext]]样式
 *
 * @author WaitSpring
 */
#mw-blockedtext {
	padding: 2em;
	background-color: #ffefd5;
	border: 1px solid #a2a9b1;
	border-radius: 0.2em;

	&-inner {
		width: 100%;
		margin: 1.25em 0;
	}

	&-title {
		color: #d33;
		font-size: 1.5em;
		text-align: center;
	}

	&-subtitle {
		display: block;
		border-radius: 3px;
		margin: auto;
		text-align: center;
	}

	&-detail,
	&-appeal {
		padding: 0.75em 1em;
		border: 0;
		border-radius: 0.2em;
		margin: 1em;
		background: #fff;
		color: #2a4b8d;

		&-title {
			color: #2a4b8d;
			font-size: 1.25em;
			font-weight: 600;
			text-align: center;
			margin: 1.25em auto 0;
		}
	}

	&-reason {
		margin-bottom: 0.5em;
	}

	&-reason-text {
		margin: 0.5em;
	}

	&-reason-text,
	&-expire-text,
	&-userip-text,
	&-blockid-text {
		color: #d33;
	}

	&-userwarn {
		margin: 1.25em 0;
		color: #d33;
		font-size: 1.25em;
		text-align: center;
	}
}
