@import '../../variables.less';

/* {{Kaiti}} */
.kaiti,
.Kaiti,
.KaiTi {
	&:lang(zh) {
		font-style: normal;
	}

	&:lang(zh-hans) {
		font-family: @cursive-hant, @serif-hans, cursive, serif, @emoji-font;
	}

	&:lang(zh-hant) {
		font-family: @cursive-hant, @serif-hant, cursive, serif, @emoji-font;
	}
}

/* {{Fangsong}} */
.fangsong,
.fangSong,
.Fangsong,
.FangSong {
	&:lang(zh) {
		font-style: normal;
	}

	&:lang(zh-hans) {
		font-family: @fangsong, @serif-hans, fangsong, serif, @emoji-font;
	}

	&:lang(zh-hant) {
		font-family: @fangsong, @serif-hant, fangsong, serif, @emoji-font;
	}
}
