@import (reference) '../../variables.less';

/* {{Kaiti}} */
.kaiti,
.Kaiti,
.KaiTi {
	font-family: @cursive-zh-hans, cursive, @serif-zh-hans, @emoji-font;

	html:lang(zh-hant) & {
		font-family: @cursive-zh-hant, cursive, @serif-zh-hant, @emoji-font;
	}
}

/* {{Fangsong}} */
.fangsong,
.fangSong,
.Fangsong,
.FangSong {
	font-family: @fangsong, @serif-zh-hans, @emoji-font;

	html:lang(zh-hant) & {
		font-family: @fangsong, @serif-zh-hant, @emoji-font;
	}
}
