@import '../../variables.less';

/* {{Kaiti}} */
.kaiti,
.Kaiti,
.KaiTi {
	font-family: @cursive-zh-hans, @serif-zh-hans, cursive, serif, @emoji-font;

	body:lang(zh-hant) & {
		font-family: @cursive-zh-hant, @serif-zh-hant, cursive, serif, @emoji-font;
	}
}

/* {{Fangsong}} */
.fangsong,
.fangSong,
.Fangsong,
.FangSong {
	font-family: @fangsong, @serif-zh-hans, fangsong, serif, @emoji-font;

	body:lang(zh-hant) & {
		font-family: @fangsong, @serif-zh-hant, fangsong, serif, @emoji-font;
	}
}
