@import (reference) '../../variables.less';

/* [[MediaWiki:Gadgets-definition]] */
.rootpage-MediaWiki_Gadgets-definition {
	.mw-parser-output {
		li {
			font-family: @monospace, monospace, @emoji-font;
			font-size: 1.2em;
			overflow-wrap: break-word;
		}
	}
}
