/**
 * 处理灰色链接，例如未开通的轨道交通车站
 *
 * @author SolidBlock
 */
.graylink {
	a &,
	a&,
	a {
		color: #888;
	}

	a:visited &,
	a:visited&,
	a:visited {
		color: #666;
	}

	a.new &,
	a.new&,
	a.new,
	a.new:visited &,
	a.new:visited&,
	a.new:visited {
		color: #955;
	}

	a.selflink &,
	a.selflink&,
	a.selflink {
		color: #888;
	}
}
