/* [[Qiuwen_talk:茶馆]]隐藏项目Tab */
.rootpage-Qiuwen_talk_茶馆 #ca-nstab-project {
	display: none;
}

/* 用户讨论页 */
.ext-discussiontools-emptystate-logo {
	display: none;
}

/* 修复DiscussionTools以链接开头下划线位置错误 */
span[data-mw-comment-start] {
	top: 0 !important;
}

/* 修复DiscussionTools移动界面 */
@media screen and (max-width: 768px) {
	.ext-discussiontools-ui-replyWidget {
		border: 1px solid #000;
		padding: 1em;
		z-index: 1;
		background-color: #fff;
		position: absolute;
		left: 0;
		right: 0;
	}
}
