/* 特殊时期，庆祝节日 */
.skin-citizen.page-Qiuwen_首页.action-view .mw-body,
.skin-vector.page-Qiuwen_首页.action-view .mw-body,
.skin-gongbi.page-Qiuwen_首页.action-view #mw-content,
.skin-write.page-Qiuwen_首页.action-view #mw-main-container .col-md-9 {
	background: rgba(204, 51, 51, 0.075);

	.client-darkmode & {
		background: transparent;
	}
}

.mainpage {
	background: transparent;

	a {
		&,
		&.extiw,
		&.external {
			&,
			&:hover,
			&:visited:hover {
				color: #c33 !important;
			}
		}
	}

	h2 {
		background: #c33;
	}

	.mw-ui {
		&-progressive {
			border-color: #c33;
			background-color: #c33;
		}

		&-input:focus {
			border-color: #c33;
			box-shadow: inset 0 0 0 1px #c33;
		}

		&-button:not(:disabled):focus {
			border-color: #c33;
			box-shadow:
				inset 0 0 0 1px #c33,
				inset 0 0 0 2px #fff;
		}
	}

	&-header-box,
	&-box,
	&-footer-box {
		border-radius: 0.25em;
		background: rgba(255, 255, 255, 0.9);
		box-shadow:
			0 1px 2px rgba(204, 51, 51, 0.375),
			0 -1px 2px rgba(204, 51, 51, 0.375);

		.client-darkmode .mainpage & {
			background: rgba(204, 51, 51, 0.075);
		}
	}

	&-header .mainpage-slogan img {
		content: data-uri('./images/mainpage-slogan.svg');
	}

	&-link-button a {
		&,
		&.extiw,
		&.external {
			&:hover,
			&:visited:hover {
				background: #c33;
				color: #fff !important;
				text-decoration: none;
			}
		}
	}
}

/* === Other elements === */

#sidebarButton {
	content: data-uri('./images/sidebarButton-collapse.svg');

	html.client-collapsedsidebar & {
		content: data-uri('./images/sidebarButton-expand.svg');
	}
}

#darkmode-button {
	content: data-uri('./images/darkmode-button.svg');
}

#scrollDownButton,
#scrollUpButton {
	content: data-uri('./images/scroll-button.svg');
}

.asn {
	&__area a {
		color: #c33;
	}

	&__title {
		background: #c33;
		color: #fff;
	}

	&__dismiss a:hover {
		background-image: data-uri('./images/close.svg');
	}
}

.mw-footer {
	&,
	.client-darkmode & {
		a {
			color: #c33 !important;

			&:visited {
				color: #a33 !important;
			}

			&:hover,
			&:visited:hover {
				color: #f33 !important;
			}
		}
	}
}

/* === Skin-specific rules === */

/* For Citizen skin */
.mw-logo-icon {
	content: data-uri('./images/logo.svg');
}

html.citizen-loading::after {
	background:
		linear-gradient(90deg, #c33 0%, #c33 100%) -10% 0 / 0 2px no-repeat,
		transparent;
	filter: drop-shadow(0 0 16px #c33);
}

/* For Gongbi skin */
#mw-header-container {
	border-color: #c33;
}

/* For Gongbi and Vector skins */
#sliderCollapseLogo,
.wordmark img {
	content: data-uri('./images/wordmark.svg');
}

/* For Vector skin */
.mw-wiki-logo {
	background-image: data-uri('./images/square.svg');
}

/* For Write skin */
:root {
	--write: #c33 !important;
}
