@import (reference) '../variables.less';

/**
 * @description 特殊时期，庆祝节日
 */
@color--primary: @const-color-red;

/* Variables for root */
:root {
	--mp-color: @color--primary !important;
	--mp-background-color: fade(@color--primary, 25%) !important; // @color--primary with 25% opacity
	--mp-background-color--darkest: fade(@color--primary, 75%) !important; // @color--primary with 75% opacity
	--mp-background-color--darker: fade(@color--primary, 50%) !important; // @color--primary with 50% opacity
	--mp-background-color--light: fade(@color--primary, 12.5%) !important; // @color--primary with 12.5% opacity
	--mp-background-color--lighter: fade(@color--primary, 6.25%) !important; // @color--primary with 6.25% opacity
	--mp-background-color--lightest: fade(@color--primary, 1.25%) !important; // @color--primary with 1.25% opacity
	--mp-background-white-color: @background-color-white--light; // white
}

/* === Other elements === */
.gadget-advanced_site_notices {
	box-shadow: 0 0.5px 0 var(--mp-background-color, fade(@color--primary, 25%));

	&__title {
		filter: hue-rotate(141deg) !important;
	}
}

.gadget-cookie_warning {
	filter: hue-rotate(141deg) !important;
}

/* === Skin-specific rules === */

/* For Citizen skin */
html {
	&.citizen-loading::after {
		background:
			linear-gradient(90deg, @color--primary 0%, @color--primary 100%) -10% 0 / 0 2px no-repeat,
			transparent;
		filter: drop-shadow(0 0 16px @color--primary);
	}
}

.skin-citizen {
	.mw-portlet-personal li a:hover,
	#pt-login a,
	.citizen-drawer__menu a:hover {
		filter: hue-rotate(141deg) !important;
	}
}

/* For Gongbi skin */
.skin-gongbi {
	#mw-header-container {
		border-color: var(--mp-color, @color--primary);
	}

	&.page-Qiuwen_首页.action-view .bodySearch {
		.cdx-button {
			filter: hue-rotate(141deg) !important;
		}
	}
}
