@import (reference) '../variables.less';

/* 特殊时期，庆祝节日 */
.skin-citizen.page-Qiuwen_首页.action-view .mw-body,
.skin-vector.page-Qiuwen_首页.action-view .mw-body,
.skin-gongbi.page-Qiuwen_首页.action-view #mw-content {
	background: rgba(204, 51, 51, 0.075);
}

.mainpage {
	a {
		&,
		&.extiw,
		&.external {
			&,
			&:hover,
			&:visited {
				&,
				&:hover {
					color: #c33 !important;
				}
			}
		}
	}

	h2 {
		background: #c33;
	}

	.mw-ui {
		&-progressive {
			border-color: #c33;
			background-color: #c33;
		}

		&-input:focus {
			border-color: #c33;
			box-shadow: inset 0 0 0 1px #c33;
		}

		&-button:not(:disabled):focus {
			border-color: #c33;
			box-shadow:
				inset 0 0 0 1px #c33,
				inset 0 0 0 2px @const-color-white;
		}
	}

	&-header-box,
	&-box,
	&-footer-box {
		box-shadow:
			0 1px 2px rgba(204, 51, 51, 0.375),
			0 -1px 2px rgba(204, 51, 51, 0.375) !important;

		.client-darkmode .mainpage & {
			background: rgba(204, 51, 51, 0.1);
			box-shadow:
				0 1px 2px rgba(204, 51, 51, 0.75),
				0 -1px 2px rgba(204, 51, 51, 0.75) !important;
		}
	}

	&-header {
		.mainpage-slogan {
			img {
				filter: hue-rotate(141deg);

				.client-darkmode & {
					filter: invert(1) hue-rotate(320deg);
				}
			}
		}
	}

	&-link-button {
		&:hover {
			background: #c33 !important;
			color: @const-color-white !important;

			a {
				&,
				&:hover,
				&:visited:hover {
					color: @const-color-white !important;
					text-decoration: none;
				}
			}
		}
	}
}

/* === Other elements === */
#darkmode-button,
#sidebarButton,
.gadget-advanced_site_notices,
.gadget-cookie_warning,
.gadget-report-button img,
.gadget-scroll_up_button {
	filter: hue-rotate(141deg) !important;
}

.mw-footer {
	&,
	.client-darkmode & {
		a {
			color: #c33 !important;

			&:visited {
				color: #a33 !important;
			}

			&:hover,
			&:visited:hover {
				color: #f33 !important;
			}
		}
	}
}

/* === Skin-specific rules === */

/* For Citizen skin */
html {
	&.citizen-loading::after {
		background:
			linear-gradient(90deg, #c33 0%, #c33 100%) -10% 0 / 0 2px no-repeat,
			transparent;
		filter: drop-shadow(0 0 16px #c33);
	}
}

/* For Gongbi skin */
#mw-header-container {
	border-color: #c33;
}

.skin-gongbi.page-Qiuwen_首页.action-view .bodySearch .mw-ui-button {
	filter: hue-rotate(141deg) !important;
}

/* For Gongbi and Vector skins */
#sliderCollapseLogo,
.wordmark {
	img {
		filter: hue-rotate(141deg);
	}
}

/* For Vector skin */
.mw-wiki-logo {
	filter: hue-rotate(141deg);
}

/* For Citizen skin */
.skin-citizen .mw-portlet-personal li a:hover,
.skin-citizen #pt-login a,
.citizen-header__button,
.citizen-drawer__menu a:hover,
.citizen-drawer__header img {
	filter: hue-rotate(141deg) !important;
}
