@import (reference) '../variables.less';

/* Variables for root */
:root {
	--mp--color: @color--primary;
	--mp-background-color: @background-color-primary;
	--mp-background-color--darkest: @background-color-primary--darkest;
	--mp-background-color--darker: @background-color-primary--darker;
	--mp-background-color--light: @background-color-primary--light;
	--mp-background-color--lighter: @background-color-primary--lighter;
	--mp-background-color-primary--lightest: @background-color-primary--lightest;
}
