@import (reference) '../variables.less';

/* Variables for root */
:root {
	--color--primary: @color--primary;
	--background-color-primary: @background-color-primary;
	--background-color-primary--darkest: @background-color-primary--darkest;
	--background-color-primary--darker: @background-color-primary--darker;
	--background-color-primary--light: @background-color-primary--light;
	--background-color-primary--lighter: @background-color-primary--lighter;
	--background-color-primary--lightest: @background-color-primary--lightest;
}
