.tools-redirect_methods {
	> a {
		position: relative;
		margin: 0 5px;
	}

	> .tools-redirect_link {
		&:first-of-type::before {
			content: '（';
		}

		&::before {
			content: '｜';
		}

		&:last-of-type::after {
			content: '）';
		}
	}
}
