.rootpage-MediaWiki_Gadgets-definition {
	li:target {
		padding: 0.1em 0.3em;
		border: 1px solid #90ee90;
		background-color: #eee;

		.client-darkmode & {
			border-color: #6f116f;
			background-color: rgba(17, 17, 17, 0.25);
		}
	}
}
