@root_not_selector: ~'.ve-activated';
@citizen_overflow_wrapper_selector: ~'.citizen-overflow-wrapper';
@not_halign_selector: ~'.mw-halign-left, .mw-halign-center, .mw-halign-none';

@media (min-width: 1440px) {
	:not(@{root_not_selector}) .ns-0 {
		.mw-body-content {
			.mw-parser-output {
				& > * {
					margin-right: 350px !important;
				}

				& > .mw-parser-output {
					margin-right: 0 !important;
					margin-left: 0 !important;
				}

				& > .infobox,
				& > .sidebar,
				& > .vertical-navbox,
				& > .stack-right,
				& > .stack-clear-right,
				& > .floatright,
				& > .mw-halign-right,
				& > .sistersitebox,
				& > .mbox-small,
				& > .tright,
				& > figure:is([typeof~='mw:File/Thumb'], [typeof~='mw:File/Frame']):not(@{not_halign_selector}) {
					margin-right: 0 !important;
					margin-left: 2em !important;
				}

				& > .navbox {
					margin-right: auto !important;
					margin-left: auto !important;
				}

				& > :is(.mbox, .tmbox):not(.mbox-small) {
					margin-right: 0.25em !important;
					margin-left: 0.25em !important;
				}

				& > .infobox,
				& > .sidebar,
				& > .vertical-navbox,
				& > .stack-right,
				& > .stack-clear-right,
				& > .floatright,
				& > .mw-halign-right,
				& > .tright,
				& > figure:is([typeof~='mw:File/Thumb'], [typeof~='mw:File/Frame']):not(@{not_halign_selector}) img {
					min-width: 320px !important;
				}

				& > .infobox,
				& > .sidebar,
				& > .vertical-navbox,
				& > .tright > .thumbinner {
					width: 320px !important;
					box-sizing: border-box;
				}

				& > .tright .thumbimage,
				& > .floatright img,
				& > .mw-halign-right img,
				& > figure:is([typeof~='mw:File/Thumb'], [typeof~='mw:File/Frame']):not(@{not_halign_selector}) img {
					max-width: 100%;
					height: auto;
				}

				& > #toc,
				& > .floatleft,
				& > .mw-halign-left,
				& > .tleft {
					margin-right: 1.4em !important;
				}

				& > table,
				& > .center,
				& > .mw-halign-center {
					max-width: calc(100% - 350px);
				}

				& > @{citizen_overflow_wrapper_selector} {
					margin-right: auto !important;
					margin-left: auto;
				}
			}

			.ext-WikiEditor-realtimepreview-preview .mw-parser-output {
				& > :is(ul, ol, li) {
					margin-right: 0 !important;
				}

				& > *:not(ul, ol, li) {
					max-width: 100%;
					margin-right: 0 !important;
					margin-left: 0 !important;
				}
			}
		}

		.ve-init-mw-desktopArticleTarget .mw-body-content .mw-parser-output {
			& > :is(ul, ol, li) {
				margin-right: 0 !important;
			}

			& > *:not(ul, ol, li) {
				margin-right: 0 !important;
				margin-left: 0 !important;
			}
		}
	}
}
