@import (reference) '../variables.less';

/**
 * @description 特殊时期，寄托哀思
 */
@color--primary: @const-color-darkgray;

/* Variables for root */
:root {
	--mp--color: @color--primary !important;
	--mp-background-color: fade(@color--primary, 25%) !important; // @color--primary with 25% opacity
	--mp-background-color--darkest: fade(@color--primary, 75%) !important; // @color--primary with 75% opacity
	--mp-background-color--darker: fade(@color--primary, 50%) !important; // @color--primary with 50% opacity
	--mp-background-color--light: fade(@color--primary, 12.5%) !important; // @color--primary with 12.5% opacity
	--mp-background-color--lighter: fade(@color--primary, 6.25%) !important; // @color--primary with 6.25% opacity
	--mp-background-color--lightest: fade(@color--primary, 1.25%) !important; // @color--primary with 1.25% opacity
}

/* == 非页面正文 == */

/* 隐藏首页的页顶、页尾及其他无用要素 */
.page-Qiuwen_首页 {
	&.action-view {
		&.skin-citizen .mw-body,
		&.skin-gongbi #mw-content,
		&.skin-vector .mw-body {
			/* 背景 */
			background: var(--mp-background-color--lighter, @background-color-primary--lighter) !important;
		}
	}
}

/* == 页面正文 == */
.mainpage-header {
	filter: grayscale(1);
}
