/* {{僻字}} */
.inline-unihan {
	border-bottom: 1px dotted;
	cursor: help;
	font-family: -apple-system, BlinkMacSystemFont, 'MiSans', '小米兰亭 Pro VF', 'OPPO Sans', 'HarmonyOS Sans',
		'HONOR Sans', 'Source Sans 3', 'Source Sans Pro', 'Source Han Sans SC', 'Helvetica', 'Roboto',
		'SFProDisplay-Regular', 'Plangothic P1', 'Plangothic P2', '方正宋体S-超大字符集', '方正宋体S-超大字符集(SIP)',
		'文泉驿等宽正黑', 'BabelStone Han', 'HanaMinB', 'FZSong-Extended', 'Arial Unicode MS', 'Code2002', 'DFSongStd',
		'unifont', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-variant: normal;

	&:lang(zh-hant) {
		font-family: -apple-system, BlinkMacSystemFont, 'MiSans', '小米兰亭 Pro VF', 'OPPO Sans', 'HarmonyOS Sans',
			'HONOR Sans', 'Source Sans 3', 'Source Sans Pro', 'Source Han Sans TC', 'Helvetica', 'Roboto',
			'SFProDisplay-Regular', 'Plangothic P1', 'Plangothic P2', '方正宋体S-超大字符集',
			'方正宋体S-超大字符集(SIP)', '文泉驿等宽正黑', 'BabelStone Han', 'HanaMinB', 'FZSong-Extended',
			'Arial Unicode MS', 'Code2002', 'DFSongStd', 'unifont', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
			'Segoe UI Symbol';
	}

	&-tooltip {
		padding: 2px;
		border: 1px solid #aaa;
		background-color: #fffbe1;
	}
}
