@import (reference) '../variables.less';

.skin-vector-2022 #p-noteTA .ca-noteTA {
	max-height: 32px;
}

.skin-vector-legacy #p-noteTA.vector-menu-tabs-legacy {
	padding-left: 0;
}

.mw-indicator[id^='mw-indicator-noteTA-'] img {
	cursor: pointer;
}

.x-noteTA-viewer-output .error {
	color: @color--error;
	font-size: 1.2em;
	font-weight: bold;
}

.x-noteTA-viewer {
	&__label {
		height: '85%';
		padding: '1px 3px';

		&-hans {
			background: '#d3e3f4';
			color: '#000';
		}

		&-hant {
			background: '#e9e9e9';
			color: '#434343';
		}
	}
}
