.pwv-2017-variant {
	width: 9em;
	float: right;
}

.ve-ui-mwSaveDialog-preview > .mw-content-container {
	display: none;
}

.pwv-2017-pendingStackLayout.oo-ui-pendingElement-pending > .oo-ui-panelLayout {
	opacity: 0.5;
	transition: opacity 0.1s ease-out;
}

.pwv-2017-pendingStackLayout .vector-body .firstHeading {
	margin-top: 0;
}
