@import (reference) './modules/textIndent.less';

@selector: ~'.ext-discussiontools-replytool-enabled, .ext-discussiontools-newtopictool-enabled';

body.ns-subject:not(@{selector}) .ve-ui-surface-source .mw-parser-output > p,
body.skin-citizen.ns-subject:not(@{selector}) .ve-ui-surface-source .mw-parser-output > section {
	text-indent: 0;
}

body.ns-subject:not(@{selector}) .mw-parser-output,
body.skin-citizen.ns-subject:not(@{selector}) .mw-parser-output > section,
.hansect {
	.textIndent;
}

.mw-templatedata-doc-wrap p.mw-templatedata-doc-desc {
	/* TemplateData */
	text-indent: 2em;

	& > * {
		text-indent: 0;
	}
}
