.gadget-report {
	&-button {
		cursor: pointer;
		content: data-uri('./images/report-button.svg');
		position: fixed;
		right: 8px;
		bottom: 211px;
		opacity: 0.7;
		width: 32px;
		height: 32px;
		user-select: none;

		.client-darkmode &,
		.skin-theme-clientpref-night &,
		.client-darkmode.skin-theme-clientpref-night & {
			transition: none 0s ease 0s;
		}
	}
}
