@const-color-white: #fff;

@color-primary: #36c;

@emoji-font: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

@sans-serif-zh-hans: '-apple-system', 'BlinkMacSystemFont', 'MiSans', '小米兰亭 Pro VF', 'OPPO Sans', 'HarmonyOS Sans',
	'HONOR Sans', 'Source Sans 3', 'Source Sans Pro', 'Source Han Sans SC', 'Helvetica', 'Roboto',
	'SFProDisplay-Regular';
@sans-serif-zh-hant: '-apple-system', 'BlinkMacSystemFont', 'MiSans', '小米兰亭 Pro VF', 'OPPO Sans', 'HarmonyOS Sans',
	'HONOR Sans', 'Source Sans 3', 'Source Sans Pro', 'Source Han Sans TC', 'Helvetica', 'Roboto',
	'SFProDisplay-Regular';
@sans-serif-ja: '-apple-system', 'BlinkMacSystemFont', 'Meiryo', 'Source Sans 3', 'Source Sans Pro',
	'Source Han Sans JP', 'Helvetica', 'Roboto', 'SFProDisplay-Regular';

@serif-zh-hans: 'Source Serif', 'Source Han Serif SC', 'Linux Libertine', 'Georgia', 'Times New Roman', 'Times',
	'STSong SC', 'SimSun';
@serif-zh-hant: 'Source Serif', 'Source Han Serif TC', 'Linux Libertine', 'Georgia', 'Times New Roman', 'Times',
	'MingLiU', 'SimSun';

@monospace: 'Consolas', 'JetBrains Mono', 'Source Code Pro', 'Menlo', 'SFMono-Regular', 'Roboto Mono', 'Monaco',
	'Liberation Mono', 'Courier New', 'Courier';

@unihan: 'Plangothic P1', 'Plangothic P2', '方正宋体S-超大字符集', '方正宋体S-超大字符集(SIP)', '文泉驿等宽正黑',
	'BabelStone Han', 'HanaMinB', 'FZSong-Extended', 'Arial Unicode MS', 'Code2002', 'DFSongStd', 'unifont';

@cursive-zh-hans: '华文楷体', 'STKaiti', '楷体', 'KaiTi', '楷体_GB2312', 'KaiTi_GB2312', 'HYKaiti', 'FZKai-Z03S',
	'FZKaiS-Extended', 'FZKaiS-Extended(SIP)', '楷体-简', 'TH-Khaai-TP0', 'TH-Khaai-TP2', 'TH-Feon-A', 'AR PL UKai CN';
@cursive-zh-hant: '標楷體', 'DFKai-SB', 'BiauKai', 'Kai', '全字庫正楷體', 'TW-Kai', 'FZKaiT-Extended',
	'FZKaiT-Extended(SIP)', '楷体-繁', 'TH-Khaai-PP0', 'TH-Khaai-PP2', 'AR PL UKai HK', 'AR PL UKai TW', 'EUDCKAI';

@fangsong: 'Adobe Fangsong Std', 'STFangsong', 'FangSong', 'FangSong_GB2312', 'FZFangSong-Z02S', 'DFFangSong';
