.gadget-history_disclaimer {
	position: fixed;
	z-index: 99999;
	background-image: data-uri('./images/background-zh-hans.svg');
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;

	html:lang(zh-hant) & {
		background-image: data-uri('./images/background-zh-hant.svg');
	}

	/* For Gongbi skin */
	.skin-gongbi & {
		top: 5em;
		right: 15em;
		bottom: 0;
		left: 13em;

		@media screen and (max-width: 1200px) {
			top: 5em;
			right: 0;
			bottom: 0;
			left: 13em;
		}

		@media screen and (max-width: 768px) {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	/* For Vector skins */
	.skin-vector &,
	.skin-vector-legacy & {
		top: 5em;
		right: 0;
		bottom: 0;
		left: 12em;

		@media screen and (max-width: 768px) {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}
