.loading {
	.userlink {
		opacity: 0.85;
	}
}

.userlinkTemp {
	text-decoration: line-through;
	opacity: 0.7;
}

.userlinkPartial {
	text-decoration: underline dotted;
}

.userlinkIndef {
	text-decoration: line-through;
	font-style: italic;
	opacity: 0.4;
}

.userlinkLock {
	text-decoration: line-through double;
	font-style: italic;
	opacity: 0.4;
}
