/*! Twinkle.js - twinkle.css */

/* twinkleclose.js */
a.twinkle-close-button {
	color: #f00;
	font-weight: bold;

	&-disabled {
		color: #808080;
	}
}

/* The additional box on user skin.js and twinklepreferences.js pages */
#twinkle-config {
	&-headerbox {
		padding: 0.6em;
		border: 1px #f60 solid;
		margin: 0.5em auto;
		background: #fed;
		text-align: center;

		&.config-twopt-box {
			/* twinkleoptions.js */
			width: 80%;
			border-width: 2px;
			font-weight: bold;
		}
		&.config-userskin-box {
			/* Skin-specific JS */
			width: 60%;
		}
	}

	&-content input[type='checkbox'] {
		/* [[H:TW/PREF]] */
		margin-right: 2px;
	}

	&-titlebar {
		/* twinkleconfig.js */
		background-image: data-uri('../images/titlebar.png');
	}
}
