/*! Twinkle.js - twinkle.css */

/**
 * The additional box on user skin.js and twinkleoptions.js pages
 * see [[H:TW/PREF]]
 */
#twinkle-config {
	&-headerbox {
		padding: 0.6em;
		border: 1px #f60 solid;
		margin: 0.5em auto;
		background: #fed;
		text-align: center;

		&.config-twopt-box {
			width: 80%;
			border-width: 2px;
			font-weight: bold;
		}

		&.config-userskin-box {
			/* Skin-specific JS */
			width: 60%;
		}
	}

	&-content input[type='checkbox'] {
		margin-right: 2px;
	}
}
