.gadget-wikicache {
	&__dialog,
	&__notice {
		font-size: 1em;

		a {
			color: #0645ad;
			&:visited {
				color: #0b0080;
			}
		}
	}

	&__notice {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 99;
		display: none;
		height: 1.6em;
		border-right: 1px solid #a7d7f9;
		border-bottom: 1px solid #a7d7f9;
		white-space: nowrap;
		font-size: 0.8em;
		line-height: 1.6em;

		.ui-dialog-titlebar-close {
			display: inline-block;
		}
	}
}
